<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Buscador deportista por deporte</title>
</head>
<body>
	<form th:action="@{/deportistas/buscador}" method="get">
		<label>Nombre Deporte:</label> <input type="text" name="nombre"
			th:value="${nombre}"><br>


		<button type="submit">Buscar</button>
	</form>

	<div th:if="${deportistas}">
		<h2>
			Deportistas que practican
		</h2>
		<ul th:each="deportista : ${deportistas}">
			<li th:text="${nombre}"></li>
		</ul>
	</div>
	<div th:unless="${deportistas}">
	<p>No hay deportistas con ese deporte</p>
	</div>
</body>
</html>