<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/deportistas/guardarDeportista}" th:object="${deportista}" method="post">
		<label>Nombre:</label>
		<input type="text" th:field="*{nombre}"><br>
		<label>Deportes:</label>
		<div th:each="deporte : ${deportes}">
		<input type="checkbox" name="lista" th:value ="${deporte.id}" th:text="${deporte.nombre}">
		</div>
		<button type="submit">Guardar</button>
				
	</form>

</body>
</html>