<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
</head>
<body>
    <h1>Agregar Cliente</h1>

    <form action="/guardarCliente" method="post">
        <label>Nombre: <input type="text" name="nombre" required></label><br><br>
        <label>Calle: <input type="text" name="calle" required></label><br><br>
        <label>Ciudad: <input type="text" name="ciudad" required></label><br><br>
        <button type="submit">Guardar</button>
    </form>
    
    <br>
    <a href="@{/clientes}">Volver al listado</a>
</body>
</html>
